<div class="row">
  <div class="songs col-8">
      <div class="songs-header">
        <div class="btn-position">
          <button class="btn active"><span>Create</span></button>
          <button class="btn">Update</button>
          <button class="btn">Delete</button>
        </div>
      </div>

      <div class="songs-body mt-5">
        <table class="table">
          <thead>
            <tr>
              <td>#</td>
              <td>Album / Artist</td>
              <td></td>
              <td></td>
              <td>Plays (This week / All time)</td>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="active">
              <td>1</td>
              <td><h6>asd</h6><span>asdas</span></td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td><i class="fas fa-heart"></i></td>
            </tr> -->
            <tr *ngFor="let album of buffer">
              <td><span>{{album.id}} <img src="../../../assets/img/PH04904.jpg" alt=""></span></td>
              <td>
                <h6>{{album.name}}asdasdasdsadsa</h6><span>{{album.singer}}</span></td>
                <td></td>
                <td></td>
              <td>5M</td>
            </tr>
            <!-- <i class="fas fa-heart"></i> -->
            <!-- <tr class="active">
              <td>1</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td><i class="fas fa-heart"></i></td>
            </tr> -->
          </tbody>
        </table>
      </div>

      <!-- <div class="album-body mt-5">
        <div class="row">
          <div class="card" *ngFor="let album of buffer">
            <img src="../../../assets/img/PH04904.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{album.name}}</h5>
              <p class="card-text">{{album.singer}}</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    </div>

    <div class="col-4 songs">
    </div>
</div>

<audio src="../../../assets/tracks/cetena.mp3" controls></audio>
