<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{album.name}}
      </mat-panel-title>
      <mat-panel-description>
        Tracks {{panelOpenState ? 'show' : 'hidden'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let eachTrack of tracks">{{eachTrack.name}}</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>