<div class="d-flex">
  <div class="nav-flex">
    <app-nav></app-nav>
  </div>
  <div class="home-flex">
    <nav class="navbar search px-0">
      <form class="form-inline">
        <i class="fas fa-search"></i>
        <input class="form-control" type="search" placeholder="Search your favorite music" aria-label="Search">
        <i class="fas fa-microphone right"></i>
      </form>

      <ul class="nav justify-content-end nav-horizontal">
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Radio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-bell pr-0"></i></a>
        </li>
      </ul>
    </nav>
    <div class="mt-5 scroll-auto home-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
